# Standard libraries
numpy
pandas
matplotlib
# plotly
time
datetime
# scipy
# seaborn
# Data scrapping
requests
json
# Paths in notebooks
sys
os
# Data fetching
ccxt
yfinance
ffn
# GUI
tkinter
pyinstaller